<footer>
  <section class="container recipe">
    <div></div>
    <div class="footer__content">
      <p>
        <a href="mailto:yash@yashketkar.com">Email</a>
        <span class="link-divider">.</span>
        <a href="https://twitter.com/yashketkar">Twitter</a>
        <span class="link-divider">.</span>
        <a href="https://www.instagram.com/yashketkar/">Instagram</a>
        <span class="link-divider">.</span>
        <a href="https://www.linkedin.com/in/yashketkar">LinkedIn</a>
        <span class="link-divider">.</span>
        <small class="nowrap">&copy; 2023</small>
      </p>
    </div>
  </section>
</footer>
